name: "Publish Python distribution to PyPI"

on:
  push:
    branches:
      - master

jobs:
  build-and-publish:
    name: "Publish Python distribution to PyPI"
    runs-on: ubuntu-20.04
    
    steps:
    - uses: actions/checkout@master
    - name: Set up Python 3.7
      uses: actions/setup-python@v1
      with:
        python-version: 3.7
      
    - name: "Build Python package"
      run:
        python3 -m pip install --user --upgrade setuptools wheel
        python3 setup.py sdist bdist_wheel

    - name: Publish distribution to PyPI
      uses: pypa/gh-action-pypi-publish@master
      with:
        password: ${{ secrets.pypi_password }}
